<div class="col s12 tag-div">
    <div class="user-pic center-align">
        <a href="{{site.github_profile}}" target="_blank">
            <img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png">
        </a>
    </div>
    <div class="user-intro center-align">
        <i>havte: 提供物联网/Android/Linux/STM32/Web全套方案</i>
    </div>
    <div class="user-intro center-align">
        <h4 class="hidden">我们是一群<span id="js-rotating">勤奋, 坚持, 上进, 求索</span>的开发者</h4>
    </div>
    <div class="user-content center-align">
        <p>
            更多技术干货请访问，havte主站：havte.com。同时记得关注微博、微信公众号
        </p>
        <a href="https://www.havte.com" title="havte">havte主站</a>
    </div>
    <!--
    <div>
        <span class="my-linkedin">我的领英(LinkedIn)</span>
        <div class="linkedin-tag center-align">
            <div class="LI-profile-badge" data-version="v1" data-size="large" data-locale="zh_CN" data-type="horizontal" data-theme="light" data-vanity="琦雲-黄-a4b9b9164"><a class="LI-simple-link" href='https://cn.linkedin.com/in/%E7%90%A6%E9%9B%B2-%E9%BB%84-a4b9b9164?trk=profile-badge'>mikie</a></div>
        </div>
    </div>
    -->
</div>
