<div class="col s12 tag-div">
    <div class="user-pic center-align">
        <a href="{{site.github_profile}}" target="_blank">
            <img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png">
        </a>
    </div>
    <div class="user-intro center-align">
        <i>mikie: 米奇是mikie的中文名</i>
    </div>
    <div class="user-intro center-align">
        <h4 class="hidden">我们是一群<span id="js-rotating">勤奋, 坚持, 上进, 求索</span>的搬运工</h4>
    </div>
    <div class="user-content center-align">
        <p>
            zh_CN: 米奇是一个分享群体,一群源于世界各地的匿名分享者,米奇源于世界,米奇属于世界。欢迎加入米奇家族。
        </p>
        <p>
            en_US: Mikie is a sharing group, a group of anonymous sharers from all over the world, Mikie from the world and Mikie belongs to the world. Welcome to the mikie family.
        </p>
    </div>
    <!--
    <div>
        <span class="my-linkedin">我的领英(LinkedIn)</span>
        <div class="linkedin-tag center-align">
            <div class="LI-profile-badge" data-version="v1" data-size="large" data-locale="zh_CN" data-type="horizontal" data-theme="light" data-vanity="琦雲-黄-a4b9b9164"><a class="LI-simple-link" href='https://cn.linkedin.com/in/%E7%90%A6%E9%9B%B2-%E9%BB%84-a4b9b9164?trk=profile-badge'>mikie</a></div>
        </div>
    </div>
    -->
</div>
